  :focus {
	  outline: none;
  }

	html {
		height: 100%;
		/*min-height: 800px;*/
		overflow-y: hidden;
	}

  body {
	height: 100%;
	min-width: 700px;
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	margin-top:10px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;

	background-repeat: no-repeat;
	background-attachment: fixed;

	background: rgb(153,50,50); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(153,50,50,1) 0%, rgba(153,29,29,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(153,50,50,1)), color-stop(100%,rgba(153,29,29,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(153,50,50,1) 0%,rgba(153,29,29,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(153,50,50,1) 0%,rgba(153,29,29,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(153,50,50,1) 0%,rgba(153,29,29,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(153,50,50,1) 0%,rgba(153,29,29,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993232', endColorstr='#991d1d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	/*background-color: #380000;	#544937*/
	


  }

  h1 {
    margin:0 0 2em;
    padding: 0.5em;
    font-size: 1.3em;
  }

  p.description {
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    top: 3.2em;
    margin-right: 400px;
  }

  .clearer {
    clear: both;
  }
  
  .search {
	  -webkit-border-radius: 30px;
    border-radius: 30px;
	float: right;
  }

	#header {
		margin: 5px 0px 0px;
		min-width:1000px;
		background-color: rgba(51, 51, 51, 0.7);
		-webkit-box-shadow: 1px 1px 5px 2px rgba(229, 229, 229, 0.6);
		box-shadow: 1px 1px 5px 2px rgba(229, 229, 229, 0.6);
	}
  
  #search-icon{
	  color:white;
		margin-top: 3px;
  }

  #calendar_selection {
	font-size: 0.7em;
	position: absolute;
	top: 87px;
	right: 1370px;
	padding: 1em;
	background: #ffc;
	border: 1px solid #dda;
	width: 190px;
	height: 27px;
  }

  #message {
    font-size: 0.7em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    background: #ddf;
    border: 1px solid #aad;
    width: 270px;
    float: right;
  }
    label, input { display: inline-block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:10px; }
    .ui-dialog .ui-state-error { padding: .1em; }
	#personal-public_1, #personal-public_0 {cursor: pointer;}


.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

input[type="range"] {
	-webkit-appearance: none;
	width: 30%;
	height: 10px;
	padding: 3px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid rgb(251, 165, 44);
	background-image: -webkit-gradient(
		linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #222222)
	);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	/*top: -1px;*/
	z-index: 1;
	width: 30px;
	height: 30px;

	-webkit-border-radius: 35px;
	-moz-border-radius: 35px.;
	border-radius: 35px;
 	

/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #FFA200 0%, #FFE294 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #FFA200 0%, #FFE294 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #FFA200 0%, #FFE294 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFA200), color-stop(1, #FFE294));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFA200 0%, #FFE294 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #FFA200 0%, #FFE294 100%);
}

#scrollwrap {
	float: left;
	left: 250px;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	right: 100px;
	top: 140px;
	min-width: 700px;
}

#scroll {
	width: 50%;
}


#scrolldisplay {
	font: bold 1em sans-serif; 
	color: #fff;
	text-shadow: 0px -1px 1px #704811;
	margin-left: 5px;
	margin-bottom: 5px;
	overflow:hidden;
}
