  :focus {
	  outline: none;
  }

	html {
		height: 100%;
	}

  body {
	height: 100%;
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;


	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #730505 0%, #2B0000 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #730505 0%, #2B0000 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center bottom, circle farthest-corner, #730505 0%, #2B0000 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #730505), color-stop(1, #2B0000));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #730505 0%, #2B0000 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center bottom, #730505 0%, #2B0000 100%);

	/*background-color: #380000;	#544937*/
	

	margin-left: 33px;
	margin-top: 10px;
	margin-bottom: 0px;
  }

  h1 {
    margin:0 0 2em;
    padding: 0.5em;
    font-size: 1.3em;
  }

  p.description {
    font-size: 0.8em;
    padding: 1em;
    position: absolute;
    top: 3.2em;
    margin-right: 400px;
  }

  .clearer {
    clear: both;
  }
  
  .search {
	  -webkit-border-radius: 30px;
    border-radius: 30px;
	float: right;
  }
  
  #search-icon{
	  color:white;
		margin-top: 3px;
  }

  #calendar_selection {
	font-size: 0.7em;
	position: absolute;
	top: 87px;
	right: 1370px;
	padding: 1em;
	background: #ffc;
	border: 1px solid #dda;
	width: 190px;
	height: 27px;
  }

  #message {
    font-size: 0.7em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    background: #ddf;
    border: 1px solid #aad;
    width: 270px;
    float: right;
  }
    label, input { display: inline-block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:10px; }
    .ui-dialog .ui-state-error { padding: .1em; }
	#personal-public_1, #personal-public_0 {cursor: pointer;}


.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

input[type="range"] {
	-webkit-appearance: none;
	background-color: white;
	width: 30%;
	height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1px;
	z-index: 1;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px.;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

#scrollwrap {
	float: left;
	left: 250px;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	right: 100px;
	/*margin-right: 100px;*/
	top: 140px;
	/*width: 50%;*/
}

#scroll {
	width: 50%;
}


#scrolldisplay {
	font: bold 1em sans-serif; 
	color: #fff;
	text-shadow: 0px -1px 1px #704811;
}
